### Step_2. Data wrangling_1
#### 1. Selecting useful columns
we are going to select 14 variables for wrangling task from full dataframe.

In [1]:
# Call relevant libraries
using DataFrames, CSV

In [2]:
# Read the 'movie_data_step_1_R.csv' file and check what names of columns in the data frame.
movie_dataframe = CSV.read("movie_data_step_1_R.csv")
names(movie_dataframe)

27-element Array{Symbol,1}:
 :nconst
 :tconst
 :Rank
 :ReleaseYear
 :year
 :Movie_first
 :Movie_second
 :DomesticGross
 :WorldwideGross
 :movieId
 :titleType
 :primaryTitle
 :originalTitle
 ⋮
 :endYear
 :runtimeMinutes
 :genres
 :averageRating
 :numVotes
 :directors
 :writers
 :primaryName
 :birthYear
 :deathYear
 :primaryProfession
 :knownForTitles

In [4]:
# Selecting 14 columns and check that the columns are positioned properly for wrangling task
selected_movie_dataframe = movie_dataframe[:,[2, 6, 7, 5, 17, 14, 18, 21, 23, 19, 20, 3, 8, 9]]
show(first(selected_movie_dataframe,2), allcols=true, splitcols=true)

2×14 DataFrame
│ Row │ tconst    │ Movie_first          │ Movie_second │ year  │
│     │ String    │ String               │ String       │ Int64 │
├─────┼───────────┼──────────────────────┼──────────────┼───────┤
│ 1   │ tt4064028 │ Hoodwinked           │ NA           │ 2006  │
│ 2   │ tt0401784 │ Bend it Like Beckham │ NA           │ 2003  │

│ Row │ runtimeMinutes │ isAdult │ genres            │ directors │ primaryName │
│     │ String         │ String  │ String            │ String    │ String      │
├─────┼────────────────┼─────────┼───────────────────┼───────────┼─────────────┤
│ 1   │ 76             │ 0       │ \\N               │ \\N       │ NA          │
│ 2   │ 15             │ 0       │ Documentary,Short │ \\N       │ NA          │

│ Row │ averageRating │ numVotes │ Rank  │ DomesticGross │ WorldwideGross │
│     │ String        │ String   │ Int64 │ Int64         │ Int64          │
├─────┼───────────────┼──────────┼───────┼───────────────┼────────────────┤
│ 1   │ NA            │ NA       │ 2885  │ 51386611      │ 109843390      │
│ 2   │ 6.7           │ 46       │ 4253  │ 32543449      │ 74566042       │

#### 2. Deleting 'NA', '/NA' data
Former full data frame has useless data which are 'NA', '/N', so we need to replace it to missing data or 'NaN'.

In [5]:
# Define variable for using former full data frame.
movie_data_julia = DataFrame(selected_movie_dataframe)

5679×14 DataFrame. Omitted printing of 11 columns
│ Row  │ tconst    │ Movie_first                          │ Movie_second │
│      │ String    │ String                               │ String       │
├──────┼───────────┼──────────────────────────────────────┼──────────────┤
│ 1    │ tt4064028 │ Hoodwinked                           │ NA           │
│ 2    │ tt0401784 │ Bend it Like Beckham                 │ NA           │
│ 3    │ tt4994952 │ Black or White                       │ NA           │
│ 4    │ tt1517098 │ Sunshine Cleaning                    │ NA           │
│ 5    │ tt5014406 │ The Journey                          │ NA           │
│ 6    │ tt5160558 │ 88 Minutes                           │ NA           │
│ 7    │ tt5173200 │ The Best Exotic Marigold Hotel       │ NA           │
│ 8    │ tt5210194 │ Brooklyn's Finest                    │ NA           │
│ 9    │ tt5262674 │ Ex Machina                           │ NA           │
│ 10   │ tt5449004 │ Mindhunters                          │ NA           │
⋮
│ 5669 │ NA        │ The Lost City of Z                   │ NA           │
│ 5670 │ NA        │ Song One                             │ NA           │
│ 5671 │ NA        │ Lake of Fire                         │ NA           │
│ 5672 │ NA        │ Slacker Uprising                     │ NA           │
│ 5673 │ NA        │ Serbuan maut                         │ NA           │
│ 5674 │ NA        │ The Reluctant Fundamentalist         │ NA           │
│ 5675 │ NA        │ Saul fia                             │ NA           │
│ 5676 │ NA        │ La misma luna                        │ NA           │
│ 5677 │ NA        │ Les Intouchables                     │ NA           │
│ 5678 │ NA        │ The Young and Prodigious T.S. Spivet │ NA           │
│ 5679 │ NA        │ A Dog?\x80?s Purpose                 │ NA           │

In [6]:
# Deleting 'NA', '/N' data inside of the column 1
tconst = movie_data_julia[!,1]

tconst_1 = []
for i in tconst
    push!(tconst_1, replace(i, "NA" => ""))
end

movieID = []
for i in tconst_1
    push!(movieID, replace(i, "\\N" => ""))
end

In [7]:
# Deleting 'NA', '/N' data inside of the column 2
movie_first = movie_data_julia[!,2]

movie_first_1 = []
for i in movie_first
    push!(movie_first_1, replace(i, "NA" => ""))
end

title_main = []
for i in movie_first_1
    push!(title_main, replace(i, "\\N" => ""))
end

In [8]:
# Deleting 'NA', '/N' data inside of the column 3
movie_second = movie_data_julia[!,3]

movie_second_1 = []
for i in movie_second
    push!(movie_second_1, replace(i, "NA" => ""))
end

title_sub = []
for i in movie_second_1
    push!(title_sub, replace(i, "\\N" => ""))
end

In [9]:
# Deleting 'NA', '/N' data inside of the column 4
year = movie_data_julia[!,4]

5679-element Array{Int64,1}:
 2006
 2003
 2015
 2009
 2003
 2008
 2012
 2010
 2015
 2005
 2007
 2009
 2009
    ⋮
 2015
 2017
 2015
 2007
 2008
 2012
 2013
 2015
 2008
 2012
 2015
 2017

In [10]:
# Deleting 'NA', '/N' data inside of the column 5
runtime_minutes = movie_data_julia[!,5]

runtime_minutes_1 = []
for i in runtime_minutes
    push!(runtime_minutes_1, replace(i, "NA" => ""))
end

runningtime = []
for i in runtime_minutes_1
    push!(runningtime, replace(i, "\\N" => ""))
end

In [11]:
# Deleting 'NA', '/N' data inside of the column 6
isadult = movie_data_julia[!,6]

adult_able = []
for i in isadult
    push!(adult_able, replace(i, "NA" => ""))
end

In [12]:
# Deleting 'NA', '/N' data inside of the column 7
genres_type = movie_data_julia[!,7]

genres_type_1 = []
for i in genres_type
    push!(genres_type_1, replace(i, "NA" => ""))
end

genre = []
for i in genres_type_1
    push!(genre, replace(i, "\\N" => ""))
end

In [13]:
# Deleting 'NA', '/N' data inside of the column 8
director = movie_data_julia[!,8]

director_1 = []
for i in director
    push!(director_1, replace(i, "NA" => ""))
end

movie_director = []
for i in director_1
    push!(movie_director, replace(i, "\\N" => ""))
end

In [14]:
# Deleting 'NA', '/N' data inside of the column 9
prime_director = movie_data_julia[!,9]

director_name = []
for i in prime_director
    push!(director_name, replace(i, "NA" => ""))
end

In [15]:
# Deleting 'NA', '/N' data inside of the column 10
average_rating = movie_data_julia[!,10]

ave_rating = []
for i in average_rating
    push!(ave_rating, replace(i, "NA" => ""))
end

In [16]:
# Deleting 'NA', '/N' data inside of the column 11
num_votes = movie_data_julia[!,11]

votes = []
for i in num_votes
    push!(votes, replace(i, "NA" => ""))
end

In [17]:
# Deleting 'NA', '/N' data inside of the column 12 ~ 14
ranking = movie_data_julia[!,12]
dom_revenue = movie_data_julia[!,13]
int_revenue = movie_data_julia[!,14]

5679-element Array{Int64,1}:
 109843390
  74566042
  21971021
  17329337
     19800
  32955399
 134639780
  39233233
  38358392
  16566235
   1237615
  52987754
  35472739
         ⋮
         0
  17121823
    437089
     26007
         0
   9297407
    528731
   9696537
  23271741
 484873045
    357687
 203671625

In [18]:
# To check that deleting process has done properly.
# The below code are for only 'movieID', we need check it every column names
println(findall( x->(x == "NA"), movieID))
println(findall( x->(x == "\\N"), movieID))

Int64[]
Int64[]

In [19]:
# To make a dataframe using deleted lists
movie_data_julia_step2 = DataFrame(movieID = movieID, 
    mainTitle = title_main,
    subTitle = title_sub,
    releaseYear = year,
    runTime = runningtime,
    overAdult = adult_able,
    genreType = genre,
    directorCode = movie_director,
    directorName = director_name,
    averageRating = ave_rating,
    voteCounts = votes,
    rankOrder = ranking,
    domesticGross = dom_revenue,
    worldGross = int_revenue)

5679×14 DataFrame. Omitted printing of 11 columns
│ Row  │ movieID   │ mainTitle                            │ subTitle │
│      │ Any       │ Any                                  │ Any      │
├──────┼───────────┼──────────────────────────────────────┼──────────┤
│ 1    │ tt4064028 │ Hoodwinked                           │          │
│ 2    │ tt0401784 │ Bend it Like Beckham                 │          │
│ 3    │ tt4994952 │ Black or White                       │          │
│ 4    │ tt1517098 │ Sunshine Cleaning                    │          │
│ 5    │ tt5014406 │ The Journey                          │          │
│ 6    │ tt5160558 │ 88 Minutes                           │          │
│ 7    │ tt5173200 │ The Best Exotic Marigold Hotel       │          │
│ 8    │ tt5210194 │ Brooklyn's Finest                    │          │
│ 9    │ tt5262674 │ Ex Machina                           │          │
│ 10   │ tt5449004 │ Mindhunters                          │          │
⋮
│ 5669 │           │ The Lost City of Z                   │          │
│ 5670 │           │ Song One                             │          │
│ 5671 │           │ Lake of Fire                         │          │
│ 5672 │           │ Slacker Uprising                     │          │
│ 5673 │           │ Serbuan maut                         │          │
│ 5674 │           │ The Reluctant Fundamentalist         │          │
│ 5675 │           │ Saul fia                             │          │
│ 5676 │           │ La misma luna                        │          │
│ 5677 │           │ Les Intouchables                     │          │
│ 5678 │           │ The Young and Prodigious T.S. Spivet │          │
│ 5679 │           │ A Dog?\x80?s Purpose                 │          │

#### Even though,
We can do make a plot right now, however, there is an opportunity that we can make some valuable variables from given columns. Thus, we will do it.

#### 3. Creating new columns

Creating new columns for analysing easily.
Count how many words in the main title
Count how many words in the subtitle
To sum calculated two columns
Changing a total gross's scale for plotting
Separating a data inside of the 'genre' to find representative genre
Counting genre complexity: if some movie has two more genres combined, we assume that it is more complex

In [20]:
# Count how many words in the main title
main_title = movie_data_julia_step2[!,2]

main_title_counts = []
for title in main_title
    if title === missing
        push!(main_title_counts, 0)
    else
        push!(main_title_counts, Int64(length(split(title))))
    end
end

# Count how many words in the subtitle
sub_title = movie_data_julia_step2[!,3]

sub_title_counts = []
for title in sub_title
    if title === missing
        push!(sub_title_counts, 0)
    else
        push!(sub_title_counts, Int64(length(split(title))))
    end
end

# To sum the above calculated two columns
full_title_words_counts = []
j = 1
for i in main_title_counts
    push!(full_title_words_counts, i + sub_title_counts[j])
    j = j + 1    
end

# To sum domestic revenue and worldwide revenue for total revenue

domestic = movie_data_julia_step2[!,13]
worldwide = movie_data_julia_step2[!,14]

total_gorss = []
j = 1
for i in domestic
    push!(total_gorss, i + worldwide[j])
    j = j + 1    
end

# Separating a data inside of the 'genre' to find the representative genre
types = movie_data_julia_step2[!,7]

first_genre = []
for genre in types
    if genre === missing
        push!(first_genre, "")
    else
        push!(first_genre, split(genre,",")[1])
    end
end

# Counting genre complexity: if some movie has two more genres combined, we assume that it is more complex
genre_counts = []
for i in movie_data_julia_step2[!,7]
    if i !== missing
        push!(genre_counts, length(split(i,",")))
    else
        push!(genre_counts, 0)
    end
end

In [21]:
# Insert the 'full words count' of the movie into the data frame
insertcols!(movie_data_julia_step2, 4, fullWordCounts = full_title_words_counts)

# Insert the 'total revenue' of the movie into the data frame
insertcols!(movie_data_julia_step2, 16, totalRevenue = total_gorss)

# Insert the 'main genre' of the movie into the data frame
insertcols!(movie_data_julia_step2, 9, mainGenre = first_genre)

# Insert the 'genre complexity' of the movie into the data frame
insertcols!(movie_data_julia_step2, 10, genreComplexity = genre_counts)

5679×18 DataFrame. Omitted printing of 15 columns
│ Row  │ movieID   │ mainTitle                            │ subTitle │
│      │ Any       │ Any                                  │ Any      │
├──────┼───────────┼──────────────────────────────────────┼──────────┤
│ 1    │ tt4064028 │ Hoodwinked                           │          │
│ 2    │ tt0401784 │ Bend it Like Beckham                 │          │
│ 3    │ tt4994952 │ Black or White                       │          │
│ 4    │ tt1517098 │ Sunshine Cleaning                    │          │
│ 5    │ tt5014406 │ The Journey                          │          │
│ 6    │ tt5160558 │ 88 Minutes                           │          │
│ 7    │ tt5173200 │ The Best Exotic Marigold Hotel       │          │
│ 8    │ tt5210194 │ Brooklyn's Finest                    │          │
│ 9    │ tt5262674 │ Ex Machina                           │          │
│ 10   │ tt5449004 │ Mindhunters                          │          │
⋮
│ 5669 │           │ The Lost City of Z                   │          │
│ 5670 │           │ Song One                             │          │
│ 5671 │           │ Lake of Fire                         │          │
│ 5672 │           │ Slacker Uprising                     │          │
│ 5673 │           │ Serbuan maut                         │          │
│ 5674 │           │ The Reluctant Fundamentalist         │          │
│ 5675 │           │ Saul fia                             │          │
│ 5676 │           │ La misma luna                        │          │
│ 5677 │           │ Les Intouchables                     │          │
│ 5678 │           │ The Young and Prodigious T.S. Spivet │          │
│ 5679 │           │ A Dog?\x80?s Purpose                 │          │

In [22]:
# To check that the columns are positioned properly for wrangling task
show(first(movie_data_julia_step2,2), allcols=true, splitcols=true)

2×18 DataFrame
│ Row │ movieID   │ mainTitle            │ subTitle │ fullWordCounts │
│     │ Any       │ Any                  │ Any      │ Any            │
├─────┼───────────┼──────────────────────┼──────────┼────────────────┤
│ 1   │ tt4064028 │ Hoodwinked           │          │ 1              │
│ 2   │ tt0401784 │ Bend it Like Beckham │          │ 4              │

│ Row │ releaseYear │ runTime │ overAdult │ genreType         │ mainGenre   │
│     │ Int64       │ Any     │ Any       │ Any               │ Any         │
├─────┼─────────────┼─────────┼───────────┼───────────────────┼─────────────┤
│ 1   │ 2006        │ 76      │ 0         │                   │             │
│ 2   │ 2003        │ 15      │ 0         │ Documentary,Short │ Documentary │

│ Row │ genreComplexity │ directorCode │ directorName │ averageRating │
│     │ Any             │ Any          │ Any          │ Any           │
├─────┼─────────────────┼──────────────┼──────────────┼───────────────┤
│ 1   │ 1               │              │              │               │
│ 2   │ 2               │              │              │ 6.7           │

│ Row │ voteCounts │ rankOrder │ domesticGross │ worldGross │ totalRevenue │
│     │ Any        │ Int64     │ Int64         │ Int64      │ Any          │
├─────┼────────────┼───────────┼───────────────┼────────────┼──────────────┤
│ 1   │            │ 2885      │ 51386611      │ 109843390  │ 161230001    │
│ 2   │ 46         │ 4253      │ 32543449      │ 74566042   │ 107109491    │

#### Suddenly,
We just realised that there is no budget data in the above data frame we made. Can you remember that we had mentioned at the beginning of step 1 which is "In this stage........the budget column was deleted. It was a hidden problem we had made in the next stage.". We have to address this problem.
We are going to use R again to deal with that problem.

#### First of all, save the above data frame into CSV file to read in R Notebook.

In [23]:
# Storing it
CSV.write("movie_data_step_3_Julia.csv", movie_data_julia_step2)

"movie_data_step_3_Julia.csv"

#### Sorry..
We shouldn't have delimited title data by ":" using Excel. 
While It was a useless process, It was one of our excellent discovery

#### find a file name 'project_step_3(data_analysing)_R'