### Step_4. Data wrangling_2
#### 1. Creating new columns

We are going to make some new columns for categorising and rescaling a big number to read easily.

In [1]:
# Call relevant libraries
using DataFrames, CSV

In [2]:
# Read the "movie_data_step_4_R.csv" file
movie_data_for_plot = CSV.read("movie_data_step_4_R.csv")

5679×24 DataFrame. Omitted printing of 21 columns
│ Row  │ Rank  │ movieID   │ mainTitle                       │
│      │ Int64 │ String    │ String                          │
├──────┼───────┼───────────┼─────────────────────────────────┤
│ 1    │ 1     │ tt0499549 │ Avatar                          │
│ 2    │ 2     │ tt1298650 │ Pirates of the Caribbean        │
│ 3    │ 3     │ tt4154796 │ Avengers                        │
│ 4    │ 4     │ tt6565702 │ Dark Phoenix                    │
│ 5    │ 5     │ tt2395427 │ Avengers                        │
│ 6    │ 6     │ NA        │ Star Wars Ep. VIII              │
│ 7    │ 7     │ NA        │ Star Wars Ep. VII               │
│ 8    │ 8     │ tt4154756 │ Avengers                        │
│ 9    │ 9     │ tt0449088 │ Pirates of the Caribbean        │
│ 10   │ 10    │ tt0974015 │ Justice League                  │
⋮
│ 5669 │ 5836  │ tt0481267 │ Bang                            │
│ 5670 │ 5837  │ NA        │ The Rise and Fall of Miss Thang │
│ 5671 │ 5838  │ NA        │ Family Motocross                │
│ 5672 │ 5839  │ tt2010510 │ Newlyweds                       │
│ 5673 │ 5840  │ NA        │ El Mariachi                     │
│ 5674 │ 5841  │ tt0390384 │ Primer                          │
│ 5675 │ 5842  │ NA        │ Cavite                          │
│ 5676 │ 5845  │ NA        │ Following                       │
│ 5677 │ 5846  │ NA        │ Return to the Land of Wonders   │
│ 5678 │ 5847  │ NA        │ A Plague So Pleasant            │
│ 5679 │ 5848  │ NA        │ My Date With Drew               │

In [3]:
# Selecting 18 columns and check that the columns are positioned properly for wrangling task
step_7_plot_julia = movie_data_for_plot[:,[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 22, 14, 15, 17, 18, 19]]
show(first(step_7_plot_julia,2), allcols=true, splitcols=true)

2×18 DataFrame
│ Row │ Rank  │ movieID   │ mainTitle                │ subTitle          │
│     │ Int64 │ String    │ String                   │ String            │
├─────┼───────┼───────────┼──────────────────────────┼───────────────────┤
│ 1   │ 1     │ tt0499549 │ Avatar                   │ NA                │
│ 2   │ 2     │ tt1298650 │ Pirates of the Caribbean │ On Stranger Tides │

│ Row │ fullWordCounts │ releaseYear │ runTime │ overAdult │
│     │ Int64          │ Int64       │ String  │ String    │
├─────┼────────────────┼─────────────┼─────────┼───────────┤
│ 1   │ 1              │ 2009        │ 162     │ 0         │
│ 2   │ 7              │ 2011        │ NA      │ NA        │

│ Row │ genreType                │ mainGenre │ genreComplexity │ directorName  │
│     │ String                   │ String    │ Int64           │ String        │
├─────┼──────────────────────────┼───────────┼─────────────────┼───────────────┤
│ 1   │ Action,Adventure,Fantasy │ Action    │ 3               │ James Cameron │
│ 2   │ NA                       │ NA        │ 1               │ Rob Marshall  │

│ Row │ ProductionBudget │ averageRating │ voteCounts │ domesticGross │
│     │ Int64            │ String        │ String     │ Int64         │
├─────┼──────────────────┼───────────────┼────────────┼───────────────┤
│ 1   │ 425000000        │ 7.8           │ 1059406    │ 760507625     │
│ 2   │ 410600000        │ 6.6           │ 453402     │ 241063875     │

│ Row │ worldGross │ totalRevenue │
│     │ Int64      │ Int64        │
├─────┼────────────┼──────────────┤
│ 1   │ 2789705275 │ 3550212900   │
│ 2   │ 1045663875 │ 1286727750   │

In [4]:
# Categorising the year data every ten years.
year_10s = ["1910s", "1920s", "1930s", "1940s", "1950s", "1960s", "1970s", "1980s", "1990s", "2000s", "2010s", "2020s"]

year_by_10 = []
for i in step_7_plot_julia[!,6]
    if 1910 <= i < 1919
        push!(year_by_10, year_10s[1])
    elseif 1920 <= i < 1929
        push!(year_by_10, year_10s[2])
    elseif 1930 <= i < 1939
        push!(year_by_10, year_10s[3])
    elseif 1940 <= i < 1949
        push!(year_by_10, year_10s[4])
    elseif 1950 <= i < 1959
        push!(year_by_10, year_10s[5])
    elseif 1960 <= i < 1969
        push!(year_by_10, year_10s[6])
    elseif 1970 <= i < 1979
        push!(year_by_10, year_10s[7])
    elseif 1980 <= i < 1989
        push!(year_by_10, year_10s[8])
    elseif 1990 <= i < 1999
        push!(year_by_10, year_10s[9])
    elseif 2000 <= i < 2009
        push!(year_by_10, year_10s[10])
    elseif 2010 <= i < 2019
        push!(year_by_10, year_10s[11])
    else
        push!(year_by_10, year_10s[12])
    end
end


# In the data of 'isAdult' column, data is recorded by 0 or 1.
# So to understand easily in the drawn graphs, data will be changed by a string data
isAdult = ["over 19", "below 19"]

allow_by_19 = []
for i in step_7_plot_julia[!,8]
    if i !== missing
        if i == 1
            push!(allow_by_19, isAdult[1])
        else
            push!(allow_by_19, isAdult[2])
        end
    else
        push!(allow_by_19, missing)
    end
end

# In the data of 'genre complexity' column, data is recorded from 1 to 4.
# So to understand easily in the drawn graphs, data will be changed by a string data
genreComplexity = ["simple", "complicate", "complex", "chaotic"]

complexity_by_num = []
for i in step_7_plot_julia[!,11]
    if i !== missing
        if i == 0
            push!(complexity_by_num, genreComplexity[1])
        elseif i == 1
            push!(complexity_by_num, genreComplexity[2])
        elseif i == 2
            push!(complexity_by_num, genreComplexity[3])
        else
            push!(complexity_by_num, genreComplexity[4])
        end
    else
        push!(complexity_by_num, missing)
    end
end

#### In the case of money data, it's a too big number to read easily.
So, we are going to do rescaling those data using dividing by million dollars.

In [5]:
# Rescale a budget data
budget_by_million = []
for i in step_7_plot_julia[!,13]
    if i !== missing
        if i > 0
            push!(budget_by_million, i / 1000000)
        else
            push!(budget_by_million, 0)
        end
    else
        push!(budget_by_million, 0)
    end
end

In [6]:
# Rescale a domestic revenue data
dom_revenue_by_million = []
for i in step_7_plot_julia[!,16]
    if i !== missing
        if i > 0
            push!(dom_revenue_by_million, i / 1000000)
        else
            push!(dom_revenue_by_million, 0)
        end
    else
        push!(dom_revenue_by_million, 0)
    end
end

dom_revenue_by_million

5679-element Array{Any,1}:
 760.507625
 241.063875
 858.373
  65.845974
 459.005868
 620.181382
 936.662225
 678.815482
 309.420425
 229.024295
 200.074175
 448.139099
 213.767512
   ⋮
   0.001987
   0.000527
   0.000401
   0
   0.004584
   2.04092
   0.42476
   0.070071
   0.048482
   0.001338
   0
   0.181041

In [7]:
# Rescale a world revenue data
world_revenue_by_million = []
for i in step_7_plot_julia[!,17]
    if i !== missing
        if i > 0
            push!(world_revenue_by_million, i / 1000000)
        else
            push!(world_revenue_by_million, 0)
        end
    else
        push!(world_revenue_by_million, 0)
    end
end

world_revenue_by_million

5679-element Array{Any,1}:
 2789.705275
 1045.663875
 2795.473
  246.356895
 1403.013963
 1316.721747
 2053.31122
 2048.1342
  963.420425
  655.945209
  879.620923
 1084.439099
  393.151347
    ⋮
    0.001987
    0.000527
    0.000401
    0
    0.004584
    2.041928
    0.841926
    0.071644
    0.240495
    0.001338
    0
    0.181041

In [8]:
# Rescale a total revenue data
total_revenue_by_million = []
for i in step_7_plot_julia[!,18]
    if i !== missing
        if i > 0
            push!(total_revenue_by_million, i / 1000000)
        else
            push!(total_revenue_by_million, 0)
        end
    else
        push!(total_revenue_by_million, 0)
    end
end

total_revenue_by_million

5679-element Array{Any,1}:
 3550.2129
 1286.72775
 3653.846
  312.202869
 1862.019831
 1936.903129
 2989.973445
 2726.949682
 1272.84085
  884.969504
 1079.695098
 1532.578198
  606.918859
    ⋮
    0.003974
    0.001054
    0.000802
    0
    0.009168
    4.082848
    1.266686
    0.141715
    0.288977
    0.002676
    0
    0.362082

In [9]:
# Define new variable for insert the created data
step_8_plot_julia = step_7_plot_julia

5679×18 DataFrame. Omitted printing of 15 columns
│ Row  │ Rank  │ movieID   │ mainTitle                       │
│      │ Int64 │ String    │ String                          │
├──────┼───────┼───────────┼─────────────────────────────────┤
│ 1    │ 1     │ tt0499549 │ Avatar                          │
│ 2    │ 2     │ tt1298650 │ Pirates of the Caribbean        │
│ 3    │ 3     │ tt4154796 │ Avengers                        │
│ 4    │ 4     │ tt6565702 │ Dark Phoenix                    │
│ 5    │ 5     │ tt2395427 │ Avengers                        │
│ 6    │ 6     │ NA        │ Star Wars Ep. VIII              │
│ 7    │ 7     │ NA        │ Star Wars Ep. VII               │
│ 8    │ 8     │ tt4154756 │ Avengers                        │
│ 9    │ 9     │ tt0449088 │ Pirates of the Caribbean        │
│ 10   │ 10    │ tt0974015 │ Justice League                  │
⋮
│ 5669 │ 5836  │ tt0481267 │ Bang                            │
│ 5670 │ 5837  │ NA        │ The Rise and Fall of Miss Thang │
│ 5671 │ 5838  │ NA        │ Family Motocross                │
│ 5672 │ 5839  │ tt2010510 │ Newlyweds                       │
│ 5673 │ 5840  │ NA        │ El Mariachi                     │
│ 5674 │ 5841  │ tt0390384 │ Primer                          │
│ 5675 │ 5842  │ NA        │ Cavite                          │
│ 5676 │ 5845  │ NA        │ Following                       │
│ 5677 │ 5846  │ NA        │ Return to the Land of Wonders   │
│ 5678 │ 5847  │ NA        │ A Plague So Pleasant            │
│ 5679 │ 5848  │ NA        │ My Date With Drew               │

In [10]:
# Insert the 'year by ten' of the movie into the data frame
insertcols!(step_8_plot_julia, 7, yearBy10 = year_by_10)

# Insert the 'over 19 or not' of the movie into the data frame
insertcols!(step_8_plot_julia, 10, over19orNot = allow_by_19)

# Insert the 'complexity string' of the movie into the data frame
insertcols!(step_8_plot_julia, 14, genre_Complex = complexity_by_num)

# Insert the 'rescaled budget' of the movie into the data frame
insertcols!(step_8_plot_julia, 17, budGet = budget_by_million)

# Insert the 'domestic revenue' of the movie into the data frame
insertcols!(step_8_plot_julia, 21, dom_Gross = dom_revenue_by_million) 

# Insert the 'worldwide revenue' of the movie into the data frame
insertcols!(step_8_plot_julia, 23, world_Gross = world_revenue_by_million) 

# Insert the 'total revenue' of the movie into the data frame
insertcols!(step_8_plot_julia, 25, total_Gross = total_revenue_by_million)

5679×25 DataFrame. Omitted printing of 22 columns
│ Row  │ Rank  │ movieID   │ mainTitle                       │
│      │ Int64 │ String    │ String                          │
├──────┼───────┼───────────┼─────────────────────────────────┤
│ 1    │ 1     │ tt0499549 │ Avatar                          │
│ 2    │ 2     │ tt1298650 │ Pirates of the Caribbean        │
│ 3    │ 3     │ tt4154796 │ Avengers                        │
│ 4    │ 4     │ tt6565702 │ Dark Phoenix                    │
│ 5    │ 5     │ tt2395427 │ Avengers                        │
│ 6    │ 6     │ NA        │ Star Wars Ep. VIII              │
│ 7    │ 7     │ NA        │ Star Wars Ep. VII               │
│ 8    │ 8     │ tt4154756 │ Avengers                        │
│ 9    │ 9     │ tt0449088 │ Pirates of the Caribbean        │
│ 10   │ 10    │ tt0974015 │ Justice League                  │
⋮
│ 5669 │ 5836  │ tt0481267 │ Bang                            │
│ 5670 │ 5837  │ NA        │ The Rise and Fall of Miss Thang │
│ 5671 │ 5838  │ NA        │ Family Motocross                │
│ 5672 │ 5839  │ tt2010510 │ Newlyweds                       │
│ 5673 │ 5840  │ NA        │ El Mariachi                     │
│ 5674 │ 5841  │ tt0390384 │ Primer                          │
│ 5675 │ 5842  │ NA        │ Cavite                          │
│ 5676 │ 5845  │ NA        │ Following                       │
│ 5677 │ 5846  │ NA        │ Return to the Land of Wonders   │
│ 5678 │ 5847  │ NA        │ A Plague So Pleasant            │
│ 5679 │ 5848  │ NA        │ My Date With Drew               │

In [11]:
# To check that the columns are positioned properly for wrangling task
show(first(step_8_plot_julia,2), allcols=true, splitcols=true)

2×25 DataFrame
│ Row │ Rank  │ movieID   │ mainTitle                │ subTitle          │
│     │ Int64 │ String    │ String                   │ String            │
├─────┼───────┼───────────┼──────────────────────────┼───────────────────┤
│ 1   │ 1     │ tt0499549 │ Avatar                   │ NA                │
│ 2   │ 2     │ tt1298650 │ Pirates of the Caribbean │ On Stranger Tides │

│ Row │ fullWordCounts │ releaseYear │ yearBy10 │ runTime │ overAdult │
│     │ Int64          │ Int64       │ Any      │ String  │ String    │
├─────┼────────────────┼─────────────┼──────────┼─────────┼───────────┤
│ 1   │ 1              │ 2009        │ 2020s    │ 162     │ 0         │
│ 2   │ 7              │ 2011        │ 2010s    │ NA      │ NA        │

│ Row │ over19orNot │ genreType                │ mainGenre │ genreComplexity │
│     │ Any         │ String                   │ String    │ Int64           │
├─────┼─────────────┼──────────────────────────┼───────────┼─────────────────┤
│ 1   │ below 19    │ Action,Adventure,Fantasy │ Action    │ 3               │
│ 2   │ below 19    │ NA                       │ NA        │ 1               │

│ Row │ genre_Complex │ directorName  │ ProductionBudget │ budGet │
│     │ Any           │ String        │ Int64            │ Any    │
├─────┼───────────────┼───────────────┼──────────────────┼────────┤
│ 1   │ chaotic       │ James Cameron │ 425000000        │ 425.0  │
│ 2   │ complicate    │ Rob Marshall  │ 410600000        │ 410.6  │

│ Row │ averageRating │ voteCounts │ domesticGross │ dom_Gross │ worldGross │
│     │ String        │ String     │ Int64         │ Any       │ Int64      │
├─────┼───────────────┼────────────┼───────────────┼───────────┼────────────┤
│ 1   │ 7.8           │ 1059406    │ 760507625     │ 760.508   │ 2789705275 │
│ 2   │ 6.6           │ 453402     │ 241063875     │ 241.064   │ 1045663875 │

│ Row │ world_Gross │ totalRevenue │ total_Gross │
│     │ Any         │ Int64        │ Any         │
├─────┼─────────────┼──────────────┼─────────────┤
│ 1   │ 2789.71     │ 3550212900   │ 3550.21     │
│ 2   │ 1045.66     │ 1286727750   │ 1286.73     │

#### 2. Deleting resurrected 'NA' data

Now we are going to delete resurrected 'NA' data that we mentioned at the end of the last R Notebook very quickly.

In [12]:
# Define variables for deleting 'NA' data process every column
rank = step_8_plot_julia[!,1]
movieid = step_8_plot_julia[!,2]
maintitle = step_8_plot_julia[!,3]
subtitle = step_8_plot_julia[!,4]
fullwordcnt = step_8_plot_julia[!,5]
releaseyear = step_8_plot_julia[!,6]
yearby10 = step_8_plot_julia[!,7]
runtime = step_8_plot_julia[!,8]
overadult = step_8_plot_julia[!,9]
over19ornot = step_8_plot_julia[!,10]
genretype = step_8_plot_julia[!,11]
maingenre = step_8_plot_julia[!,12]
genrecomplexity = step_8_plot_julia[!,13]
genre_complex = step_8_plot_julia[!,14]
directorname = step_8_plot_julia[!,15]
productionbudget = step_8_plot_julia[!,16]
budget = step_8_plot_julia[!,17]
averagerating = step_8_plot_julia[!,18]
votecnt = step_8_plot_julia[!,19]
domgross = step_8_plot_julia[!,20]
dom_gross = step_8_plot_julia[!,21]
worldgross = step_8_plot_julia[!,22]
world_gross = step_8_plot_julia[!,23]
totalgross = step_8_plot_julia[!,24]
total_gross = step_8_plot_julia[!,25]

5679-element Array{Any,1}:
 3550.2129
 1286.72775
 3653.846
  312.202869
 1862.019831
 1936.903129
 2989.973445
 2726.949682
 1272.84085
  884.969504
 1079.695098
 1532.578198
  606.918859
    ⋮
    0.003974
    0.001054
    0.000802
    0
    0.009168
    4.082848
    1.266686
    0.141715
    0.288977
    0.002676
    0
    0.362082

In [13]:
# Deleting 'NA' data inside of the movieid column
movieid_1 = []
for i in movieid
    push!(movieid_1, replace(i, "NA" => ""))
end

# Deleting 'NA' data inside of the subtitle column
subtitle_1 = []
for i in subtitle
    push!(subtitle_1, replace(i, "NA" => ""))
end

# Deleting 'NA' data inside of the runtime column
runtime_1 = []
for i in runtime
    push!(runtime_1, replace(i, "NA" => ""))
end

# Deleting 'NA' data inside of the overadult column
overadult_1 = []
for i in overadult
    push!(overadult_1, replace(i, "NA" => ""))
end

# Deleting 'NA' data inside of the genretype column
genretype_1 = []
for i in genretype
    push!(genretype_1, replace(i, "NA" => ""))
end

# Deleting 'NA' data inside of the maingenre column
maingenre_1 = []
for i in maingenre
    push!(maingenre_1, replace(i, "NA" => ""))
end

# Deleting 'NA' data inside of the directorname column
directorname_1 = []
for i in directorname
    push!(directorname_1, replace(i, "NA" => ""))
end

# Deleting 'NA' data inside of the averagerating column
averagerating_1 = []
for i in averagerating
    push!(averagerating_1, replace(i, "NA" => ""))
end

# Deleting 'NA' data inside of the votecnt column
votecnt_1 = []
for i in votecnt
    push!(votecnt_1, replace(i, "NA" => ""))
end

In [14]:
# To make a dataframe using deleted lists
movie_data_final = DataFrame(Rank = rank,
    MovieID = movieid_1,
    MainTitle = maintitle, 
    Subtitle = subtitle_1,
    Fullwordcnt = fullwordcnt,
    Release_year = releaseyear, 
    year_by_10 = yearby10, 
    Runtime = runtime_1,
    Overadult = overadult_1, 
    Over19ornot = over19ornot,
    Genre_type = genretype_1,
    maingenre = maingenre_1, 
    genrecomplexity = genrecomplexity, 
    genre_complex = genre_complex, 
    directorname = directorname_1, 
    productionbudget = productionbudget, 
    budget = budget, 
    averagerating = averagerating_1,
    votecnt = votecnt_1,
    domgross = domgross, 
    dom_gross = dom_gross, 
    worldgross = worldgross,
    world_gross = world_gross,
    totalgross = totalgross,
    total_gross = total_gross)

5679×25 DataFrame. Omitted printing of 22 columns
│ Row  │ Rank  │ MovieID   │ MainTitle                       │
│      │ Int64 │ Any       │ String                          │
├──────┼───────┼───────────┼─────────────────────────────────┤
│ 1    │ 1     │ tt0499549 │ Avatar                          │
│ 2    │ 2     │ tt1298650 │ Pirates of the Caribbean        │
│ 3    │ 3     │ tt4154796 │ Avengers                        │
│ 4    │ 4     │ tt6565702 │ Dark Phoenix                    │
│ 5    │ 5     │ tt2395427 │ Avengers                        │
│ 6    │ 6     │           │ Star Wars Ep. VIII              │
│ 7    │ 7     │           │ Star Wars Ep. VII               │
│ 8    │ 8     │ tt4154756 │ Avengers                        │
│ 9    │ 9     │ tt0449088 │ Pirates of the Caribbean        │
│ 10   │ 10    │ tt0974015 │ Justice League                  │
⋮
│ 5669 │ 5836  │ tt0481267 │ Bang                            │
│ 5670 │ 5837  │           │ The Rise and Fall of Miss Thang │
│ 5671 │ 5838  │           │ Family Motocross                │
│ 5672 │ 5839  │ tt2010510 │ Newlyweds                       │
│ 5673 │ 5840  │           │ El Mariachi                     │
│ 5674 │ 5841  │ tt0390384 │ Primer                          │
│ 5675 │ 5842  │           │ Cavite                          │
│ 5676 │ 5845  │           │ Following                       │
│ 5677 │ 5846  │           │ Return to the Land of Wonders   │
│ 5678 │ 5847  │           │ A Plague So Pleasant            │
│ 5679 │ 5848  │           │ My Date With Drew               │

In [15]:
# To check that the columns are positioned properly for wrangling task
show(first(movie_data_final,2), allcols=true, splitcols=true)

2×25 DataFrame
│ Row │ Rank  │ MovieID   │ MainTitle                │ Subtitle          │
│     │ Int64 │ Any       │ String                   │ Any               │
├─────┼───────┼───────────┼──────────────────────────┼───────────────────┤
│ 1   │ 1     │ tt0499549 │ Avatar                   │                   │
│ 2   │ 2     │ tt1298650 │ Pirates of the Caribbean │ On Stranger Tides │

│ Row │ Fullwordcnt │ Release_year │ year_by_10 │ Runtime │ Overadult │
│     │ Int64       │ Int64        │ Any        │ Any     │ Any       │
├─────┼─────────────┼──────────────┼────────────┼─────────┼───────────┤
│ 1   │ 1           │ 2009         │ 2020s      │ 162     │ 0         │
│ 2   │ 7           │ 2011         │ 2010s      │         │           │

│ Row │ Over19ornot │ Genre_type               │ maingenre │ genrecomplexity │
│     │ Any         │ Any                      │ Any       │ Int64           │
├─────┼─────────────┼──────────────────────────┼───────────┼─────────────────┤
│ 1   │ below 19    │ Action,Adventure,Fantasy │ Action    │ 3               │
│ 2   │ below 19    │                          │           │ 1               │

│ Row │ genre_complex │ directorname  │ productionbudget │ budget │
│     │ Any           │ Any           │ Int64            │ Any    │
├─────┼───────────────┼───────────────┼──────────────────┼────────┤
│ 1   │ chaotic       │ James Cameron │ 425000000        │ 425.0  │
│ 2   │ complicate    │ Rob Marshall  │ 410600000        │ 410.6  │

│ Row │ averagerating │ votecnt │ domgross  │ dom_gross │ worldgross │
│     │ Any           │ Any     │ Int64     │ Any       │ Int64      │
├─────┼───────────────┼─────────┼───────────┼───────────┼────────────┤
│ 1   │ 7.8           │ 1059406 │ 760507625 │ 760.508   │ 2789705275 │
│ 2   │ 6.6           │ 453402  │ 241063875 │ 241.064   │ 1045663875 │

│ Row │ world_gross │ totalgross │ total_gross │
│     │ Any         │ Int64      │ Any         │
├─────┼─────────────┼────────────┼─────────────┤
│ 1   │ 2789.71     │ 3550212900 │ 3550.21     │
│ 2   │ 1045.66     │ 1286727750 │ 1286.73     │

In [16]:
# Storing it for plotting in Julia
CSV.write("movie_data_step_final.csv", movie_data_final)

"movie_data_step_final.csv"

##### Tidy data set의 정의를 한 후 데이트를 추출한다.

In [17]:
# Read the "movie_data_step_final.csv" file to prepare for making tidy version CSV file
tidy_ver_julia = CSV.read("movie_data_step_final.csv")

5679×25 DataFrame. Omitted printing of 22 columns
│ Row  │ Rank  │ MovieID   │ MainTitle                       │
│      │ Int64 │ String⍰   │ String                          │
├──────┼───────┼───────────┼─────────────────────────────────┤
│ 1    │ 1     │ tt0499549 │ Avatar                          │
│ 2    │ 2     │ tt1298650 │ Pirates of the Caribbean        │
│ 3    │ 3     │ tt4154796 │ Avengers                        │
│ 4    │ 4     │ tt6565702 │ Dark Phoenix                    │
│ 5    │ 5     │ tt2395427 │ Avengers                        │
│ 6    │ 6     │ missing   │ Star Wars Ep. VIII              │
│ 7    │ 7     │ missing   │ Star Wars Ep. VII               │
│ 8    │ 8     │ tt4154756 │ Avengers                        │
│ 9    │ 9     │ tt0449088 │ Pirates of the Caribbean        │
│ 10   │ 10    │ tt0974015 │ Justice League                  │
⋮
│ 5669 │ 5836  │ tt0481267 │ Bang                            │
│ 5670 │ 5837  │ missing   │ The Rise and Fall of Miss Thang │
│ 5671 │ 5838  │ missing   │ Family Motocross                │
│ 5672 │ 5839  │ tt2010510 │ Newlyweds                       │
│ 5673 │ 5840  │ missing   │ El Mariachi                     │
│ 5674 │ 5841  │ tt0390384 │ Primer                          │
│ 5675 │ 5842  │ missing   │ Cavite                          │
│ 5676 │ 5845  │ missing   │ Following                       │
│ 5677 │ 5846  │ missing   │ Return to the Land of Wonders   │
│ 5678 │ 5847  │ missing   │ A Plague So Pleasant            │
│ 5679 │ 5848  │ missing   │ My Date With Drew               │

In [18]:
# Selecting 16 columns to make a tidy version data frame
movie_data_tidy_version = tidy_ver_julia[:,[1, 2, 3, 4, 5, 6, 8, 9, 12, 15, 16, 18, 19, 20, 22, 24]]

5679×16 DataFrame. Omitted printing of 13 columns
│ Row  │ Rank  │ MovieID   │ MainTitle                       │
│      │ Int64 │ String⍰   │ String                          │
├──────┼───────┼───────────┼─────────────────────────────────┤
│ 1    │ 1     │ tt0499549 │ Avatar                          │
│ 2    │ 2     │ tt1298650 │ Pirates of the Caribbean        │
│ 3    │ 3     │ tt4154796 │ Avengers                        │
│ 4    │ 4     │ tt6565702 │ Dark Phoenix                    │
│ 5    │ 5     │ tt2395427 │ Avengers                        │
│ 6    │ 6     │ missing   │ Star Wars Ep. VIII              │
│ 7    │ 7     │ missing   │ Star Wars Ep. VII               │
│ 8    │ 8     │ tt4154756 │ Avengers                        │
│ 9    │ 9     │ tt0449088 │ Pirates of the Caribbean        │
│ 10   │ 10    │ tt0974015 │ Justice League                  │
⋮
│ 5669 │ 5836  │ tt0481267 │ Bang                            │
│ 5670 │ 5837  │ missing   │ The Rise and Fall of Miss Thang │
│ 5671 │ 5838  │ missing   │ Family Motocross                │
│ 5672 │ 5839  │ tt2010510 │ Newlyweds                       │
│ 5673 │ 5840  │ missing   │ El Mariachi                     │
│ 5674 │ 5841  │ tt0390384 │ Primer                          │
│ 5675 │ 5842  │ missing   │ Cavite                          │
│ 5676 │ 5845  │ missing   │ Following                       │
│ 5677 │ 5846  │ missing   │ Return to the Land of Wonders   │
│ 5678 │ 5847  │ missing   │ A Plague So Pleasant            │
│ 5679 │ 5848  │ missing   │ My Date With Drew               │

In [19]:
# To check that the columns are positioned properly for wrangling task
show(first(movie_data_tidy_version,1), allcols=true, splitcols=true)

1×16 DataFrame
│ Row │ Rank  │ MovieID   │ MainTitle │ Subtitle │ Fullwordcnt │ Release_year │
│     │ Int64 │ String⍰   │ String    │ String⍰  │ Int64       │ Int64        │
├─────┼───────┼───────────┼───────────┼──────────┼─────────────┼──────────────┤
│ 1   │ 1     │ tt0499549 │ Avatar    │ missing  │ 1           │ 2009         │

│ Row │ Runtime │ Overadult │ maingenre │ directorname  │ productionbudget │
│     │ Int64⍰  │ Int64⍰    │ String⍰   │ String⍰       │ Int64            │
├─────┼─────────┼───────────┼───────────┼───────────────┼──────────────────┤
│ 1   │ 162     │ 0         │ Action    │ James Cameron │ 425000000        │

│ Row │ averagerating │ votecnt │ domgross  │ worldgross │ totalgross │
│     │ Float64⍰      │ Int64⍰  │ Int64     │ Int64      │ Int64      │
├─────┼───────────────┼─────────┼───────────┼────────────┼────────────┤
│ 1   │ 7.8           │ 1059406 │ 760507625 │ 2789705275 │ 3550212900 │

In [20]:
# To make a tidy version of data frame by CSV file
CSV.write("movie_data_step_final(tidyversion).csv", movie_data_tidy_version)

"movie_data_step_final(tidyversion).csv"

#### Congratulation!

Consequently, we can draw visualisation plots based on the "movie_data_step_final.csv" data frame. In this project, we are going to draw plots using Julia.
There are a few relevance libraries will be installed in the next Julia part.

#### find a file name 'project_step_5(plotting)_Julia'.